
/*----------------------------------------------------------------------------------------------------------
 ---------------------------------------------- Mobile ----------------------------------------------------
 ----------------------------------------------------------------------------------------------------------*/

@include small {

    .footer {
        grid-row-start: 3;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2em 0em;
        font-family: $f-landing-page;
    
        &__social {
            display: flex;  
    
            h4 {
                color: $c-brick;
                font-size: 1em;
                margin: auto;
            }
    
            .fa-arrow-right {
                font-size: 1em;
                margin-right: 1em;
                margin-left: 0.5em;
            }
            
            i {
                color: $c-brick;
                font-size: 1.2em;
                align-self: center;
            }
        }
    
        p {
            font-family: $f-body;
            color: $c-dark-yellow;
            font-size: 1em;
        }
    
        a {
            text-decoration: none;
            color: $c-dark-blue;
            font-weight: bold;
            margin-right: 0.5em;
            font-size: 1em;
        }
    }
}

@media screen and (min-width:1200px){

    .footer {
        grid-row-start: 3;
        display: flex;
        flex-direction: raw;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 7em;
        font-family: $f-landing-page;
    
        &__social {
            width: 50%;
            display: flex;
            flex-direction: raw;
            flex-wrap: nowrap;
            justify-content: center;
    
            h4 {
                color: $c-brick;
                font-size: 1.5em;
                margin-right: 1em;
                align-self: center;
            }
    
            .fa-arrow-right {
                font-size: 1.5em;
                margin-right: 2em;
            }
            
            i {
                color: $c-brick;
                font-size: 2.5em;
                align-self: center;
            }
        }
    
        p {
            font-family: $f-body;
            color: $c-dark-yellow;
            font-size: 1.2em;
        }
    
        a {
            text-decoration: none;
            margin: 0 1em;
            color: $c-dark-blue;
            font-weight: bold;
            font-size: 1.2em;
        }
    }
} 
