/*----------------------------------------------------------------------------------------------------------
 ---------------------------------------------- Mobile ----------------------------------------------------
 ----------------------------------------------------------------------------------------------------------*/

 @include small {

    .social {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 5em;
        left: 0;
        right: 0;
        z-index: 20;

        .span {
            display: none;
        }

        a {
            color: $c-brick;
            font-size: 2em;
            text-decoration: none;
            margin: 0 .5rem;

            .comment {
                display: none;
            }
        }
    }
 }
