html {
    height: 100vh;
}

body {

    .container {
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        background-color: $c-dark-blue;
    }
}

/*----------------------------------------------------------------------------------------------------------
 ---------------------------------------------- Mobile ----------------------------------------------------
 ----------------------------------------------------------------------------------------------------------*/

@include small {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;

        &__title {
            margin: 1em auto;

            h1 {
                font-family: $f-landing-page;
                font-size: 2.2em;
                text-transform: uppercase;
                color: $c-white; 
                z-index: 20;
                text-shadow: 1px 1px 2px $c-dark-blue;
            }
        }

        &__hero {
            width: 100%;
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            &--logo {
                width: 80%;
                height: 80%;
                margin: auto;
                background: center url("../../assets/images/logo-hero.png");
                background-size: cover;
                position: relative;
            }

            &--picture {
                display: none;
            }

            &--subtitle {
                width: 100%;
                margin: 2em auto;
                display: flex;
                justify-content: center;
                text-align: center;

                h2 {
                    text-transform: uppercase;
                    font-size: .9em;
                    color: $c-dark-yellow;
                }
            }
        }

        &__gif {
            display: none;
        }

        &__button {
            align-self: center;

            &--button {
                display: flex;
                justify-content: space-around;
                padding: 1rem 2em;
                border-radius: 50px;
                border: solid $c-dark-yellow .1rem;
                background: transparent;
                text-decoration: none;

                &:hover {
                    border: solid $c-light-yellow .1rem;
                    cursor: pointer;
                }

                input {
                    display: none;
                }

                h3 {
                    font-size: .8rem;
                    font-family: $f-landing-page;
                    color: $c-light-yellow;
                    text-transform: uppercase;
                }

                i {
                    margin-left: 1em;
                    font-size: 0.8rem;
                    color: $c-light-yellow;
                }
            }
        }
    }
}


/*----------------------------------------------------------------------------------------------------------
 ---------------------------------------------- Tablette ----------------------------------------------------
 ----------------------------------------------------------------------------------------------------------*/

@include medium {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;

        &__title {
            font-size: 2em ;
            margin: 1em auto;

            h1 {
                font-family: $f-landing-page;
                font-size: 2.2em;
                text-transform: uppercase;
                color: $c-white; 
                z-index: 20;
                text-shadow: 1px 1px 2px $c-dark-blue;
            }
        }

        &__hero {
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            &--logo {
                width: 85%;
                height: 85%;
                margin: auto;
                background: center url("../../assets/images/logo-hero.png");
                background-size: cover;
                position: relative;
            }

            &--picture {
                display: none;
            }

            &--subtitle {
                width: 100%;
                margin: 2em auto;
                display: flex;
                justify-content: center;
                text-align: center;

                h2 {
                    text-transform: uppercase;
                    font-size: 1.3em;
                    color: $c-dark-yellow;
                }
            }
        }

        &__gif {
            display: none;
        }

        &__button {
            align-self: center;

            &--button {
                display: flex;
                justify-content: space-around;
                padding: 1.5rem 2.5em;
                border-radius: 50px;
                border: solid $c-dark-yellow 2px;
                background: transparent;
                text-decoration: none;

                &:hover {
                    border: solid $c-light-yellow .1rem;
                    cursor: pointer;
                }

                input {
                    display: none;
                }

                h3 {
                    font-size: 1rem;
                    font-family: $f-landing-page;
                    color: $c-light-yellow;
                    text-transform: uppercase;
                }

                i {
                    margin-left: 1em;
                    font-size: 1rem;
                    color: $c-light-yellow;
                }
            }
        }
    }
}


@include large {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;

        &__title {
            font-size: 2em ;
            margin: 1em auto;

            h1 {
                font-family: $f-landing-page;
                font-size: 2.2em;
                text-transform: uppercase;
                color: $c-white; 
                z-index: 20;
                text-shadow: 1px 1px 2px $c-dark-blue;
            }
        }

        &__hero {
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            &--logo {
                width: 85%;
                height: 85%;
                margin: auto;
                background: center url("../../assets/images/logo-hero.png");
                background-size: cover;
                position: relative;
            }

            &--picture {
                display: none;
            }

            &--subtitle {
                width: 100%;
                margin: 2em auto;
                display: flex;
                justify-content: center;
                text-align: center;

                h2 {
                    text-transform: uppercase;
                    font-size: 2em;
                    color: $c-dark-yellow;
                }
            }
        }

        &__gif {
            display: none;
        }

        &__button {
            align-self: center;

            &--button {
                display: flex;
                justify-content: space-around;
                padding: 2rem 3em;
                border-radius: 50px;
                border: solid $c-dark-yellow 3px;
                background: transparent;
                text-decoration: none;

                &:hover {
                    border: solid $c-light-yellow .1rem;
                    cursor: pointer;
                }

                input {
                    display: none;
                }

                h3 {
                    font-size: 1.8rem;
                    font-family: $f-landing-page;
                    color: $c-light-yellow;
                    text-transform: uppercase;
                }

                i {
                    margin-left: 1em;
                    font-size: 1.8rem;
                    color: $c-light-yellow;
                }
            }
        }
    }
}

/*----------------------------------------------------------------------------------------------------------
 ---------------------------------------------- Desktop ----------------------------------------------------
 ----------------------------------------------------------------------------------------------------------*/

@include extra-large {

    .container {
        flex-direction: column;

        &__title {

            h1 {
                font-family: $f-landing-page;
                font-size: 8em;
                text-transform: uppercase;
                color: $c-white; 
                position: absolute;
                top: 10rem;
                right: 1rem;
                z-index: 20;
                text-shadow: 1px 1px 2px $c-dark-blue;
            }
        }

        &__hero {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;

            &--logo {
                width: 50%;
                background: center url("../../assets/images/logo-background.png");
                background-size: cover;
                margin-left: -5em;
                overflow: hidden;
                
                &::after {
                    content: " ";
                    height: 550px;
                    width: 550px;
                    background: none;
                    box-shadow: 0px 2px 15px $c-black;
                    border: solid 1em;
                    border-image: linear-gradient($c-light-yellow, $c-ocre-yellow) 90;
                    transform: rotate(45deg);
                    position: absolute;
                    top: 9em;
                    left: 0;
                }

                .cercle {
                    width: 180px;
                    height: 180px;
                    border-radius: 50%;
                    box-shadow: 0px 2px 10px $c-black;
                    background: none;
                    position: absolute;
                    left: -20rem;
                    z-index: 5;
                    animation-duration: 1s;
                    animation-name: slide-in;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                }

                #cercle1 {
                    border: solid $c-ocre-yellow 0.5em;
                    top: 8.5rem;
                }

                #cercle2 {
                    border: solid $c-orange-yellow 0.5em;
                    top: 21rem;
                    animation-delay: 1s;
                }

                #cercle3 {
                    border: solid $c-gold-yellow 0.5em;
                    top: 33.5rem;
                    animation-delay: 2s;
                }

                @keyframes slide-in {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        left: 12rem;
                        opacity: 1;
                    }
                }
            }

            &--picture {
                width: 40%;
                height: 45%;
                align-self: center;
                margin-left: -4em;
                background: center url("../../assets/images/pic-background.png");
                background-size: cover;
                display: flex;
                justify-content: center;
                z-index: 15;
                overflow: hidden;

                img {
                    align-self: center;
                    width: 70%;
                    box-shadow: 0px 2px 15px $c-black;
                    animation-duration: 3s;
                    animation-name: slide;
                    animation-iteration-count: 1;
                }

                @keyframes slide {
                    0% {
                        transform: translateX(200%);
                        opacity: 0;
                    }
                    100% {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
            }

            &--subtitle {
                width: 10%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-self: center;

                h2 {
                    text-transform: uppercase;
                    font-size: 1.5em;
                    color: $c-dark-yellow;
                    align-self: center;
                    text-align: center;
                    transform: rotate(90deg);
                }
            }
        }

        &__gif {
            position: absolute;
            right: 10rem;
            bottom: 5rem;
        }

        &__button {
            position: absolute;
            left: 40%;
            bottom: 5rem;
            
            &--button {
                width: 20rem;
                padding: 1rem;
                display: flex;
                justify-content: space-around;
                border-radius: 50px;
                border: solid $c-dark-yellow .2rem;
                background: transparent;
                text-decoration: none;

                &:hover {
                    border: solid $c-light-yellow .2rem;
                    transition: 0.5s;
                    cursor: pointer;

                    i {
                        animation: 1s ease-in-out 0s infinite running slidein;
                    }
                }

                @keyframes slidein {
                    0% {
                        transform: translateX(-200%);
                        opacity: 0;
                    }
                    100% {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }

                input {
                    display: none;
                }

                h3 {
                    font-size: 1.5rem;
                    font-family: $f-landing-page;
                    color: $c-light-yellow; 
                    text-transform: uppercase;
                }

                i {
                    font-size: 1.5rem;
                    color: $c-light-yellow;

                }
            }
        }
    }
}
