/*----------------------------------------------------------------------------------------------------------
 ---------------------------------------------- Mobile ----------------------------------------------------
 ----------------------------------------------------------------------------------------------------------*/

@include small {
    
    .main-consultations {
        grid-row-start: 2;
        margin-bottom: 4em;
        display: flex;
        flex-direction: column;
        background-color: $c-white;
        ::selection {
            background-color: $c-orange-yellow;
            color: $c-white;
        }
    
        &__text {
            font-size: 1em;
            color: $c-black-lighten;
            width: 60%;
            margin: 0em 2em;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            h3 {
                font-family: $f-landing-page;
                color: $c-ocre-yellow;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1em;
                margin-bottom: 0.5em;
            }
    
            .bottom-line {
                background-color: $c-dark-blue;
                width: 30%;
                margin-bottom: 1em;
            }
    
            span {
                color: $c-ocre-yellow;
            }
    
            .address-span {
                margin-top: 1em;
                display: block;
            }
    
            img {
                margin-top: 1em;
                width: 60%;
            }
    
            .img-map {
                box-shadow: 0px 0px 10px lighten($c-shadow, 50%);
                width: 60%;
            }
    
            .img-agenda {
                width: 30%;
            }
        }
    
        .main-consultations__text--contact, .main-consultations__text--consult {
            align-self: flex-end;
        }

        .main-consultations__text--contact::before {
            content: "";
            background-image: url(../../assets/images/etape-1.png);
            background-size: 120px 120px;
            width: 120px; 
            height: 120px;
            display: inline-block;
            position: relative;
            right: 11rem; 
            top: 12em;
        }

        .main-consultations__text--agenda::after {
            content: "";
            background-image: url(../../assets/images/etape-2.png);
            background-size: 120px 120px;
            width: 120px; 
            height: 120px;
            display: inline-block;
            position: relative;
            left: 11rem; 
            top: -12em;
        }

        .main-consultations__text--consult::before {
            content: "";
            background-image: url(../../assets/images/etape-3.png);
            background-size: 150px 150px;
            width: 150px; 
            height: 150px;
            display: inline-block;
            position: relative;
            right: 10rem; 
            top: 12em;
        }

        .main-consultations__text--contact {
            margin-top: -2em;
        }

        .main-consultations__text--agenda {
            margin: 8em 0em 0em 2em;
        }

        .main-consultations__text--consult {
            margin-top: -10em;
        }
    }
}

/*----------------------------------------------------------------------------------------------------------
 ---------------------------------------------- Tablette ----------------------------------------------------
 ----------------------------------------------------------------------------------------------------------*/

@include medium {

    .main-consultations {
        margin: 2em 0em 4em 0em;
    
        &__text {
            font-size: 1.5em;
            margin: 0em 2em;
    
            h3 {
                font-size: 1.5em;
            }
        }

        .main-consultations__text--contact::before {
            content: "";
            background-image: url(../../assets/images/etape-1.png);
            background-size: 200px 200px;
            width: 200px; 
            height: 200px;
            display: inline-block;
            position: relative;
            right: 22rem; 
            top: 12em;
        }

        .main-consultations__text--agenda::after {
            content: "";
            background-image: url(../../assets/images/etape-2.png);
            background-size: 200px 200px;
            width: 200px; 
            height: 200px;
            display: inline-block;
            position: relative;
            left: 22rem; 
            top: -12em;
        }

        .main-consultations__text--consult::before {
            content: "";
            background-image: url(../../assets/images/etape-3.png);
            background-size: 250px 250px;
            width: 250px; 
            height: 250px;
            display: inline-block;
            position: relative;
            right: 22rem; 
            top: 12em;
        }

        .main-consultations__text--contact {
            margin-top: -2em;
        }

        .main-consultations__text--agenda {
            margin: 8em 0em 0em 2em;
        }

        .main-consultations__text--consult {
            margin-top: -10em;
        }
    }

}

@include large {

    .main-consultations {
        margin-bottom: 8em;
    
        &__text {
            font-size: 1.8em;
            margin: 0em 2em;
    
            h3 {
                font-size: 1.8em;
            }
        }

        .main-consultations__text--contact::before {
            content: "";
            background-image: url(../../assets/images/etape-1.png);
            background-size: 300px 300px;
            width: 300px; 
            height: 300px;
            display: inline-block;
            position: relative;
            right: 30rem; 
            top: 12em;
        }

        .main-consultations__text--agenda::after {
            content: "";
            background-image: url(../../assets/images/etape-2.png);
            background-size: 300px 300px;
            width: 300px; 
            height: 300px;
            display: inline-block;
            position: relative;
            left: 30rem; 
            top: -12em;
        }

        .main-consultations__text--consult::before {
            content: "";
            background-image: url(../../assets/images/etape-3.png);
            background-size: 350px 350px;
            width: 350px; 
            height: 350px;
            display: inline-block;
            position: relative;
            right: 30rem; 
            top: 12em;
        }

        .main-consultations__text--contact {
            margin-top: -2em;
        }

        .main-consultations__text--agenda {
            margin: 8em 0em 0em 2em;
        }

        .main-consultations__text--consult {
            margin-top: -10em;
        }
    }
    
}

 /*----------------------------------------------------------------------------------------------------------
 ---------------------------------------------- Desktop ----------------------------------------------------
 ----------------------------------------------------------------------------------------------------------*/

@include extra-large {
    
    .main-consultations {
        grid-row-start: 2;
        background: url("../../assets/images/fond-consultations.svg");
        background-size: cover;
        background-position: center;
        height: 3500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        background-color: $c-white;
        ::selection {
            background-color: $c-orange-yellow;
            color: $c-white;
        }
    
        &__text {
            font-size: 2em;
            color: $c-black-lighten;
            width: 40%;
            margin: 6em 2em;
            text-align: center;
    
            h3 {
                font-family: $f-landing-page;
                color: $c-ocre-yellow;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1.2em;
                margin-bottom: 0.5em;
            }
    
            .bottom-line {
                background-color: $c-dark-blue;
                width: 30%;
                margin-bottom: 1em;
            }
    
            span {
                color: $c-ocre-yellow;
            }
    
            .address-span {
                margin-top: 1em;
                display: block;
            }
    
            img {
                margin-top: 2em;
                width: 80%;
            }
    
            .img-map {
                box-shadow: 0px 0px 20px lighten($c-shadow, 50%);
            }
    
            .img-agenda {
                width: 40%;
            }
        }
    
        .main-consultations__text--agenda {
            align-self: flex-end;
        }
    }
}

